{% extends 'core/base.html' %}

{% block title %}
Leads detail
{% endblock %}

{% block content %}
<div class="py-6 px-6">
    <h1 class="mb-4 text-xl">{{ lead.name }}</h1>

    {% if lead.description %}
        <p class="font-semibold">Description</p>
        <p class="mb-2">{{ lead.description }}</p>
    {% endif %}

    <p class="font-semibold">Priority</p>
    <p class="mb-2">{{ lead.get_priority_display }}</p>
    
    <p class="font-semibold">Status</p>
    <p class="mb-2">{{ lead.get_status_display }}</p>

    <p class="font-semibold">Created at</p>
    <p class="mb-2">{{ lead.created_at|date:'M-d-Y H:i' }}</p>

    <p class="font-semibold">Modified at</p>
    <p class="mb-6">{{ lead.modified_at|date:'M-d-Y H:i' }}</p>

   

    <hr class="my-4">
    <div class="flex space-x-4">
        <a href="{% url 'leads:convert' lead.id %}" class="py-2 px-4 rounded-xl text-white bg-blue-500">Convert to client</a>
        <a href="{% url 'leads:edit' lead.id %}" class="py-2 px-4 rounded-xl text-white bg-teal-500">Edit</a>
        <form method="POST" action="{% url 'leads:delete' lead.id %}" class="cursor-pointer py-2 px-4 rounded-xl text-white bg-red-500 ">
            {% csrf_token %}<input type="submit" value="Delete" class="cursor-pointer">
        </form>
    </div>
    <hr class="my-4">

    <h2 class="mb-6 text-2xl">Comments</h2>

    <div class="space-y-4">
        {% for comment in lead.comments.all %}
            <div class="bg-gray-100 py-6 px-6 rounded-xl">
                <p class="mb-2"><strong>{{ comment.created_by }}</strong> @ {{ comment.created_at }}</p>
                {{ comment.content }}
            </div>
        {% endfor %}
    </div>

    <form method="POST" action="{% url 'leads:add_comment' lead.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="py-2 px-4 rounded-xl text-white bg-blue-500">Submit</button>
    </form>

    <hr class="my-4">

    <h2 class="mb-6 text-2xl">Files</h2>

    <div class="space-y-4">
        {% for file in lead.files.all %}
            <div class="bg-gray-100 py-6 px-6 rounded-xl">
                <p class="mb-2"><strong>{{ file.created_by }}</strong> @ {{ file.created_at }}</p>
                <img src="{{file.file.url}}" alt="" width="100px" height="auto"> 
                <a href="{{ file.file.url }}">Download</a>
            </div>
        {% endfor %}
    </div>

    <form method="POST" action="{% url 'leads:add_file' lead.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ fileform.as_p }}
        <button class="py-2 px-4 rounded-xl text-white bg-blue-500">Submit</button>
    </form>

    <hr class="my-4">

    <a href="{% url 'leads:list' %}">Back to leads</a>
</div> 

{% endblock%}